fastapi[standard]==0.115.6
fastapi-cli==0.0.7
pyjwt==2.10.1
passlib==1.7.4
sqlalchemy==2.0.36
sqlalchemy-utils==0.41.2
pydantic==2.10.4
bcrypt==4.2.1
pgvector==0.3.6
pydantic-settings==2.7.1
ultralytics==8.3.57
python-multipart==0.0.20
cloudinary==1.42.1
websocket==0.2.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
scikit-learn==1.6.1
lightgbm==4.6.0
open_clip_torch==2.30.0
psycopg[binary]==3.2.3
pytest==7.4.3
pytest-mock==3.14.0
testcontainers==4.9.2
ollama==0.4.7
emails==0.6
paypal-checkout-serversdk==1.0.3
paypal-server-sdk==1.0.0
paypalhttp==1.0.1

asyncpg==0.25.0 